#container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#navbar {
  background-color: #333;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  a {
    color: white;
    text-decoration: none;
  }
}

#main-section {
  flex: 1;
  padding: 20px;
}

#footer {
  background-color: #333;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  position: sticky;
  bottom: 0;
  a {
    color: white;
    text-decoration: none;
  }
}